# Datasets for HW1

The first 3 files are from [OpenFlights](http://openflights.org/data.html).  Other data is available [here](http://jblevins.org/notes/airline-data).

## Airports.dat.txt
As of January 2012, the OpenFlights Airports Database contains 6977 airports spanning the globe, as shown in the map above. Each entry contains the following information:

1. Airport ID	Unique OpenFlights identifier for this airport.
2. Name	Name of airport. May or may not contain the City name.
3. City	Main city served by airport. May be spelled differently from Name.
4. Country	Country or territory where airport is located.
5. IATA/FAA	3-letter FAA code, for airports located in Country "United States of America". 3-letter IATA code, for all other airports. Blank if not assigned.
6. ICAO	4-letter ICAO code. Blank if not assigned.
7. Latitude	Decimal degrees, usually to six significant digits. Negative is South, positive is North.
8. Longitude	Decimal degrees, usually to six significant digits. Negative is West, positive is East.
9. Altitude	In feet.
11. Timezone	Hours offset from UTC. Fractional hours are expressed as decimals, eg. India is 5.5.
12. DST	Daylight savings time. One of E (Europe), A (US/Canada), S (South America), O (Australia), Z (New Zealand), N (None) or U (Unknown). See also: Help: Time
13. Tz database time zone	Timezone in "tz" (Olson) format, eg. "America/Los_Angeles".

The data is ISO 8859-1 (Latin-1) encoded, with no special characters.

*** Note: Rules for daylight savings time change from year to year and from country to country. The current data is an approximation for 2009, built on a country level. Most airports in DST-less regions in countries that generally observe DST (eg. AL, HI in the USA, NT, QL in Australia, parts of Canada) are marked incorrectly. ***

## Airlines.dat.txt
As of January 2012, the OpenFlights Airlines Database contains 5888 airlines. Each entry contains the following information:

1. Airline ID	Unique OpenFlights identifier for this airline.
2. Name	Name of the airline.
3. Alias	Alias of the airline. For example, All Nippon Airways is commonly known as "ANA".
4. IATA	2-letter IATA code, if available.
5. ICAO	3-letter ICAO code, if available.
6. Callsign	Airline callsign.
7. Country	Country or territory where airline is incorporated.
8. Active	"Y" if the airline is or has until recently been operational, "N" if it is defunct. This field is not reliable: in particular, major airlines that stopped flying long ago, but have not had their IATA code reassigned (eg. Ansett/AN), will incorrectly show as "Y".

*** The data is ISO 8859-1 (Latin-1) encoded. The special value \N is used for "NULL" to indicate that no value is available, and is understood automatically by MySQL if imported. ***

## Routes.dat.txt
As of January 2012, the OpenFlights/Airline Route Mapper Route Database contains 59036 routes between 3209 airports on 531 airlines spanning the globe, as shown in the map above. Each entry contains the following information:

1. Airline	2-letter (IATA) or 3-letter (ICAO) code of the airline.
2. Airline ID	Unique OpenFlights identifier for airline (see Airline).
3. Source airport	3-letter (IATA) or 4-letter (ICAO) code of the source airport.
4. Source airport ID	Unique OpenFlights identifier for source airport (see Airport)
5. Destination airport	3-letter (IATA) or 4-letter (ICAO) code of the destination airport.
6. Destination airport ID	Unique OpenFlights identifier for destination airport (see Airport)
7. Codeshare	"Y" if this flight is a codeshare (that is, not operated by Airline, but another carrier), empty otherwise.
8. Stops	Number of stops on this flight ("0" for direct)
9. Equipment	3-letter codes for plane type(s) generally used on this flight, separated by spaces

*** The data is ISO 8859-1 (Latin-1) encoded. The special value \N is used for "NULL" to indicate that no value is available, and is understood automatically by MySQL if imported. ***

## On_time_On_Time_Performance_2016_10.csv

The last file, On_time_On_Time_Performance_2016_10.csv is about flight on-time performance for October, 2016.  It was downloaded from [Transtats](http://www.transtats.bts.gov/) and its details are documented in readme.html.

## aircraft_incidents.htm

Source: https://en.wikipedia.org/wiki/List_of_accidents_and_incidents_involving_commercial_aircraft

In [5]:
import csv
import pandas as pd
On_time_On_Time_Performance_2016_10_df = pd.read_csv("http://big.dataanalytics.education/data/Flights-Aug-2016.csv")

        Year  Month  DayofMonth Carrier  FlightNum Origin    OriginCity  \
0       2016      8           1      AA          1    BOS    Boston, MA
1       2016      8           2      AA          1    BOS    Boston, MA
2       2016      8           3      AA          1    BOS    Boston, MA
3       2016      8           4      AA          1    BOS    Boston, MA
4       2016      8           5      AA          1    BOS    Boston, MA
5       2016      8           6      AA          1    BOS    Boston, MA
6       2016      8           8      AA          1    BOS    Boston, MA
7       2016      8           9      AA          1    BOS    Boston, MA
8       2016      8          10      AA          1    BOS    Boston, MA
9       2016      8          11      AA          1    BOS    Boston, MA
10      2016      8          12      AA          1    BOS    Boston, MA
11      2016      8          13      AA          1    BOS    Boston, MA
12      2016      8          15      AA          1    BOS    Boston, MA
13      2016      8          16      AA          1    BOS    Boston, MA
14      2016      8          17      AA          1    BOS    Boston, MA
15      2016      8          18      AA          1    BOS    Boston, MA
16      2016      8          19      AA          1    BOS    Boston, MA
17      2016      8          20      AA          1    BOS    Boston, MA
18      2016      8          22      AA          1    BOS    Boston, MA
19      2016      8          23      AA          1    BOS    Boston, MA
20      2016      8          25      AA          1    BOS    Boston, MA
21      2016      8          26      AA          1    BOS    Boston, MA
22      2016      8          29      AA          1    BOS    Boston, MA
23      2016      8          30      AA          1    BOS    Boston, MA
24      2016      8           1      AA          1    JFK  New York, NY
25      2016      8           2      AA          1    JFK  New York, NY
26      2016      8           3      AA          1    JFK  New York, NY
27      2016      8           4      AA          1    JFK  New York, NY
28      2016      8           5      AA          1    JFK  New York, NY
29      2016      8           6      AA          1    JFK  New York, NY
...      ...    ...         ...     ...        ...    ...           ...
498317  2016      8          31      WN        267    MDW   Chicago, IL
498318  2016      8          31      WN       1198    MDW   Chicago, IL
498319  2016      8          31      WN       4006    MDW   Chicago, IL
498320  2016      8          31      WN       4070    MDW   Chicago, IL
498321  2016      8          31      WN        537    MDW   Chicago, IL
498322  2016      8          31      WN       1078    MDW   Chicago, IL
498323  2016      8          31      WN       2643    MDW   Chicago, IL
498324  2016      8          31      WN       1552    MDW   Chicago, IL
498325  2016      8          31      WN       1283    MDW   Chicago, IL
498326  2016      8          31      WN        168    MDW   Chicago, IL
498327  2016      8          31      WN        227    MDW   Chicago, IL
498328  2016      8          31      WN        254    MDW   Chicago, IL
498329  2016      8          31      WN        532    MDW   Chicago, IL
498330  2016      8          31      WN       1803    MDW   Chicago, IL
498331  2016      8          31      WN       3165    MDW   Chicago, IL
498332  2016      8          31      WN       4028    MDW   Chicago, IL
498333  2016      8          31      WN       1345    MDW   Chicago, IL
498334  2016      8          31      WN       2222    MDW   Chicago, IL
498335  2016      8          31      WN       4026    MDW   Chicago, IL
498336  2016      8          31      WN       5121    MDW   Chicago, IL
498337  2016      8          31      WN       2875    MDW   Chicago, IL
498338  2016      8          31      WN       4010    MEM   Memphis, TN
498339  2016      8          31      WN          7    MEM   Memphis, TN
498340  2016      8          31      WN         43    MEM   Memphis, TN
498341  2016      8          31      WN        248    MEM   Memphis, TN
498342  2016      8          31      WN       3109    MEM   Memphis, TN
498343  2016      8          31      WN       2969    MEM   Memphis, TN
498344  2016      8          31      WN        350    MEM   Memphis, TN
498345  2016      8          31      WN       1691    MEM   Memphis, TN
498346  2016      8          31      WN          5    MEM   Memphis, TN

          OriginState Dest            DestCity   DestState  DepTime  ArrTime  \
0       Massachusetts  JFK        New York, NY    New York    557.0    711.0
1       Massachusetts  JFK        New York, NY    New York    558.0    704.0
2       Massachusetts  JFK        New York, NY    New York    552.0    704.0
3       Massachusetts  JFK        New York, NY    New York    839.0   1003.0
4       Massachusetts  JFK        New York, NY    New York    619.0    721.0
5       Massachusetts  JFK        New York, NY    New York    601.0    706.0
6       Massachusetts  JFK        New York, NY    New York    559.0    659.0
7       Massachusetts  JFK        New York, NY    New York    942.0   1108.0
8       Massachusetts  JFK        New York, NY    New York    554.0    717.0
9       Massachusetts  JFK        New York, NY    New York    547.0    702.0
10      Massachusetts  JFK        New York, NY    New York    554.0    708.0
11      Massachusetts  JFK        New York, NY    New York    559.0    702.0
12      Massachusetts  JFK        New York, NY    New York    952.0   1109.0
13      Massachusetts  JFK        New York, NY    New York      NaN      NaN
14      Massachusetts  JFK        New York, NY    New York    555.0    656.0
15      Massachusetts  JFK        New York, NY    New York    554.0    706.0
16      Massachusetts  JFK        New York, NY    New York    551.0    708.0
17      Massachusetts  JFK        New York, NY    New York    911.0   1023.0
18      Massachusetts  JFK        New York, NY    New York    745.0    906.0
19      Massachusetts  JFK        New York, NY    New York    609.0    723.0
20      Massachusetts  JFK        New York, NY    New York    552.0    700.0
21      Massachusetts  JFK        New York, NY    New York    555.0    658.0
22      Massachusetts  JFK        New York, NY    New York    556.0    707.0
23      Massachusetts  JFK        New York, NY    New York    556.0    717.0
24           New York  LAX     Los Angeles, CA  California    855.0   1150.0
25           New York  LAX     Los Angeles, CA  California    906.0   1135.0
26           New York  LAX     Los Angeles, CA  California    938.0   1222.0
27           New York  LAX     Los Angeles, CA  California   1100.0   1335.0
28           New York  LAX     Los Angeles, CA  California    827.0   1059.0
29           New York  LAX     Los Angeles, CA  California    823.0   1058.0
...               ...  ...                 ...         ...      ...      ...
498317       Illinois  SFO   San Francisco, CA  California   1202.0   1420.0
498318       Illinois  SFO   San Francisco, CA  California   1943.0   2205.0
498319       Illinois  SFO   San Francisco, CA  California    821.0   1042.0
498320       Illinois  SJC        San Jose, CA  California   1948.0   2206.0
498321       Illinois  SLC  Salt Lake City, UT        Utah   1947.0   2147.0
498322       Illinois  SLC  Salt Lake City, UT        Utah   1257.0   1508.0
498323       Illinois  SLC  Salt Lake City, UT        Utah    851.0   1050.0
498324       Illinois  SMF      Sacramento, CA  California    820.0   1030.0
498325       Illinois  SNA       Santa Ana, CA  California    835.0   1043.0
498326       Illinois  STL       St. Louis, MO    Missouri   2044.0   2144.0
498327       Illinois  STL       St. Louis, MO    Missouri   1819.0   1917.0
498328       Illinois  STL       St. Louis, MO    Missouri   1723.0   1820.0
498329       Illinois  STL       St. Louis, MO    Missouri   1428.0   1530.0
498330       Illinois  STL       St. Louis, MO    Missouri   1218.0   1316.0
498331       Illinois  STL       St. Louis, MO    Missouri    750.0    845.0
498332       Illinois  STL       St. Louis, MO    Missouri    654.0    751.0
498333       Illinois  TPA           Tampa, FL     Florida   1819.0   2150.0
498334       Illinois  TPA           Tampa, FL     Florida    658.0   1026.0
498335       Illinois  TPA           Tampa, FL     Florida   1515.0   1842.0
498336       Illinois  TPA           Tampa, FL     Florida   2040.0      8.0
498337       Illinois  TUS          Tucson, AZ     Arizona    823.0    948.0
498338      Tennessee  BWI       Baltimore, MD    Maryland   1100.0   1358.0
498339      Tennessee  DAL          Dallas, TX       Texas    632.0    752.0
498340      Tennessee  DAL          Dallas, TX       Texas   1454.0   1606.0
498341      Tennessee  HOU         Houston, TX       Texas   2034.0   2219.0
498342      Tennessee  HOU         Houston, TX       Texas    555.0    756.0
498343      Tennessee  MCO         Orlando, FL     Florida    745.0   1042.0
498344      Tennessee  MDW         Chicago, IL    Illinois   1005.0   1145.0
498345      Tennessee  MDW         Chicago, IL    Illinois   1819.0   1941.0
498346      Tennessee  TPA           Tampa, FL     Florida   1145.0   1450.0

        ArrDelayMinutes  Cancelled  Unnamed: 15
0                   0.0        0.0          NaN
1                   0.0        0.0          NaN
2                   0.0        0.0          NaN
3                 172.0        0.0          NaN
4                  10.0        0.0          NaN
5                   0.0        0.0          NaN
6                   0.0        0.0          NaN
7                 237.0        0.0          NaN
8                   6.0        0.0          NaN
9                   0.0        0.0          NaN
10                  0.0        0.0          NaN
11                  0.0        0.0          NaN
12                238.0        0.0          NaN
13                  NaN        1.0          NaN
14                  0.0        0.0          NaN
15                  0.0        0.0          NaN
16                  0.0        0.0          NaN
17                192.0        0.0          NaN
18                115.0        0.0          NaN
19                  8.0        0.0          NaN
20                  0.0        0.0          NaN
21                  0.0        0.0          NaN
22                  0.0        0.0          NaN
23                  2.0        0.0          NaN
24                 12.0        0.0          NaN
25                  0.0        0.0          NaN
26                 44.0        0.0          NaN
27                117.0        0.0          NaN
28                  0.0        0.0          NaN
29                  0.0        0.0          NaN
...                 ...        ...          ...
498317              5.0        0.0          NaN
498318              0.0        0.0          NaN
498319              0.0        0.0          NaN
498320              0.0        0.0          NaN
498321              0.0        0.0          NaN
498322              0.0        0.0          NaN
498323              0.0        0.0          NaN
498324              0.0        0.0          NaN
498325              0.0        0.0          NaN
498326             19.0        0.0          NaN
498327              0.0        0.0          NaN
498328             55.0        0.0          NaN
498329              0.0        0.0          NaN
498330              0.0        0.0          NaN
498331              0.0        0.0          NaN
498332              0.0        0.0          NaN
498333              0.0        0.0          NaN
498334              0.0        0.0          NaN
498335              2.0        0.0          NaN
498336              0.0        0.0          NaN
498337              0.0        0.0          NaN
498338              0.0        0.0          NaN
498339              0.0        0.0          NaN
498340              0.0        0.0          NaN
498341             74.0        0.0          NaN
498342             21.0        0.0          NaN
498343              0.0        0.0          NaN
498344              0.0        0.0          NaN
498345              0.0        0.0          NaN
498346             10.0        0.0          NaN

[498347 rows x 16 columns]